@media all {

    #hdt-book-data-table-table thead th:nth-child(3) {
        text-align: right;
    }

    #hdt-book-data-table-table thead th:nth-child(4) {
        text-align: right;
    }

    #hdt-book-data-table-table tbody td:nth-child(3) {
        text-align: right;
    }

    #hdt-book-data-table-table tbody td:nth-child(4) {
        text-align: right;
    }

    #hdt-book-data-table-table tfoot th:nth-child(4) {
        text-align: right;
    }
}
