{% extends 'datatables_example/base.html' %}
{% load htmx_datatables %}
{% load static %}

{% block content %}
    <h1>Bootstrap 4 example</h1>
    <hr>
    <h2>Books</h2>
    {% render_htmx_datatable url="example_books_datatable" %}
{% endblock %}

{% block extra_css %}
    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'htmx_datatables/css/bs3_fix.css' %}">
    <link rel="stylesheet" href="{% static 'datatables_example/global.css' %}">
{% endblock %}

{% block extra_javascript %}
    <!-- Bootstrap 4 & JQuery JS libraries -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    {% enable_htmx_js %}
{% endblock %}
