{% extends 'datatables_example/base.html' %}
{% load htmx_datatables %}
{% load static %}

{% block content %}
    <h1>Bootstrap 5 example</h1>
    <hr>
    <h2>Books</h2>
    {% render_htmx_datatable url="example_books_datatable" %}
{% endblock %}

{% block extra_css %}
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'htmx_datatables/css/bs3_fix.css' %}">
    <link rel="stylesheet" href="{% static 'datatables_example/global.css' %}">
{% endblock %}

{% block extra_javascript %}
    <!-- Bootstrap 5 JS libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% enable_htmx_js %}
{% endblock %}
